name: "Build and publish all devcontainers to Dockerhub"

# triggers
on:
  workflow_dispatch:
  # push:
  # pull_request:

jobs:
  build-deploy:
    name: "Build and deploy"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: ["svelte", "aws-serverless"]
        tag: [${{ github.sha }}, "latest"]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: "Docker Build and Publish"
        env:
          DOCKERHUB_USER: ${{ vars.DOCKERHUB_USER }}
          DOCKERHUB_TKN: ${{ secrets.DOCKERHUB_TKN }}
          VTAG: ${{ matrix.tag }}
          IMAGE: ${{ matrix.image }}
        run: |
          echo "Dockerhub user: ${DOCKERHUB_USER}"
          docker login -u $DOCKERHUB_USER -p $DOCKERHUB_TKN
          TAG=${DOCKERHUB_USER}/devcontainer_${IMAGE}:${VTAG}
          docker build -t $TAG -f ./${IMAGE}/Dockerfile .
          docker push $TAG
